.location-list {
  width: 87%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0px;
  justify-content: center;
  row-gap: 50px;
  background-color: #f6f6f6;
  padding: 50px 50px;
  margin: 43px auto;
  border-radius: 25px;

  @include mobile {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    background-color: #ffffff;
    padding: 40px 0;
  }
  @include tablet {
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    background-color: #f6f6f6;
  }
}
