.banner-container{
  width:90%;
  margin:auto;
}

.main-about {
  width: 100%;
  position: relative;
}

.collapses-modules {
  margin: 40px auto;
  width: 70%;

  @include mobile {
    width: 90%;
  }
  @include tablet {
    width: 90%;
  }
}
