@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');
@import "./responsive";
@import "./general";
@import "../pages/home/home";
@import "../pages/error/error";
@import "../pages/about/about";
@import "../components/locationcards/locations";
@import "../components/footer/footer";
@import "../components/navbar/navbar";
@import "../components/header/header";
@import "../components/banner/banner";
@import "../components/collapse/Collapse";
@import "../pages/locationselected/locationSelected";
@import "../components/gallery/gallery";

