.error-section {
    text-align: center;
  }
  
  .error-section h1 {
    font-weight: 700;
    margin: 0 0 40px;
    text-align: center;
    font-family: 'Montserrat';
    color: #ff6060;
    font-size: 15rem;
  }
   
  .error-section .error-back {
    position: relative;
    width: 100%;
    text-align: bottom;
  }
  
  .error-section .linkBack .error-back {
    font-weight: 500;
    text-align: bottom;
    color: #ff6060;
    font-size: 1rem;
  }
  
  .error-section h2 {
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
    font-family: 'Montserrat';
    color: #ff6060;
    font-size: 2rem;
    font-weight: 500;
  }
 