.location-figure {
  position: relative;
  width: 80%;
  height: 100%;
  margin: auto auto;
  background: linear-gradient(#e66465, #9198e5);
  border-radius: 10px;
  overflow: hidden;
  aspect-ratio: 1 / 1;


  @include mobile {
    width: 90%;
    aspect-ratio: 1 / 1;
    object-fit:cover;

  }
  @include tablet {
    width: 90%;
    aspect-ratio: 1 / 1;

  }
}
.card-link {
  display: block;
  box-sizing: border-box;
  margin: auto;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.location-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), #000000a5);
}
.location-filter:hover {
  background: linear-gradient(rgba(0, 0, 0, 0), #ff6060a5);
}

.location-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.location-title {
  position: absolute;
  box-sizing: border-box;
  width: 70%;
  height: fit-content;
  bottom: 0px;
  padding: 0 20px 20px;
  font-size: 18px;
  color: white;
  z-index: 5;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 26px;

  @include mobile {
    width: 150px;
  }
  @include tablet {
    width: 150px;
  }
}
